@font-face {
  font-family: 'Inter-Light';
  src: url('Inter-Light.eot') format('embedded-opentype'),
  url('Inter-Light.ttf') format('truetype'),
  url('Inter-Light.svg#Inter-Light') format('svg'),
  url('Inter-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('Inter-Regular.eot') format('embedded-opentype'),
  url('Inter-Regular.ttf')  format('truetype'), 
  url('Inter-Regular.svg') format('svg'),
  url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('Inter-Medium.eot') format('embedded-opentype'),
  url('Inter-Medium.ttf') format('truetype'),
  url('Inter- Medium.svg#Inter-Medium') format('svg'),
  url('Inter-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('Inter-SemiBold.eot') format('embedded-opentype'),
  url('Inter-SemiBold.ttf') format('truetype'),
  url('Inter-SemiBold.svg#Inter-SemiBold') format('svg'),
  url('Inter-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('Inter-Bold.eot') format('embedded-opentype'),
  url('Inter-Bold.ttf') format('truetype'),
  url('Inter-Bold.svg#Inter-Bold') format('svg'),
  url('Inter-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('Inter-ExtraBold.eot') format('embedded-opentype'),
  url('Inter-ExtraBold.ttf') format('truetype'),
  url('Inter-ExtraBold.svg#Inter-ExtraBold') format('svg'),
  url('Inter-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
